@mixin flex($align:'row') {
    display: flex;
    flex-direction: $align;
    align-items: center;
    justify-content: center;
}

@mixin grid($rowNum:3){
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat($rowNum, 1fr);
}